

<%- include('../../partials/headerHome') %>

<section class="container ">
    <h1 class="text-center mt-5">Détail du service <%=service.titre%></h1>

    <div class="row">
        <div class=" mb-4">
          <div class="card shadow-sm border-0 h-100">
            <img src="/siteVitrine/<%= service.icon %>" class="card-img-top mx-auto mt-3" alt="<%= service.titre %>" style="width:60px;">
            <div class="card-body text-center">
              <h5 class="card-title"><%= service.titre %></h5>
              <p class="card-text"><%= service.description %></p>
            </div>
          </div>
        </div>
    </div>
    <div class="text-center mb-4">
      <a href="/site/vitrine/" class="btn btn-secondary">Retour</a>
    </div>
  </section>
<%- include('../../partials/footerHome') %>